<head>
    <title>Deauth Detector - Wi-PWN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="./dark.css">
    <meta name="theme-color" content="#106CC8">
</head>

<body>
    <nav id="nav">
        <div class="main-header">
            <div id="logo-img"></div><b style="color:#fff">Wi-</b>PWN
        </div>
        <div id="links">
            <a href="./">Scan</a>
            <a href="./users.html">Users</a>
            <a href="./attack.html">Attack</a>
            <a href="./control.html">Control</a>
            <a href="./detector.html" class="active">Detector</a>
            <a href="./settings.html">Settings</a>
            <a class="right" href="./info.html">Info</a>
        </div>
    </nav>
    <div id="notification"></div>
    <div id="spinner-container"></div>
    <script>
    /(^|;)\s*minimal=/.test(document.cookie) && (document.body.id = "minimal");
    </script>
    <div class="main-wrap">
        <div class="container">
            <div class="card-container">
                <div class="settingsHeader">Deauth Detector</div>
                <div class="card">
                    <div class="card-content">
                        <div class="row inputCheckbox">
                            <div class="col-6">
                                <div class="input-container disabled" id="channelContainer">
                                    <input placeholder=" " id="detectorChannel" required="" type="number" min="1" max="14">
                                    <label for="detectorChannel">Channel</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="detectorAllChannels" class="checkboxContainer">
                                    <input type="checkbox" name="detectorAllChannels" id="detectorAllChannels" value="false" checked>
                                    <label class="checkbox" for="detectorAllChannels"></label>
                                    All channels
                                </label>
                            </div>
                        </div>
                        <div class="row inputCheckbox">
                            <div class="col-6">
                                <div class="input-container">
                                    <input placeholder=" " id="alertPin" required="" type="number" min="0">
                                    <label for="alertPin">Alert Pin</label>
                                </div>
                            </div>
                            <div class="col-6">
                                <label for="invertAlertPin" class="checkboxContainer">
                                    <input type="checkbox" name="invertAlertPin" id="invertAlertPin" value="false">
                                    <label class="checkbox" for="invertAlertPin"></label>
                                    Invert HIGH/LOW
                                </label>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-6">
                                <div class="input-container">
                                    <input placeholder=" " id="detectorScanTime" required="detectorScanTime" type="number" min="10">
                                    <label for="detectorScanTime">Channel scan time</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a class="button light" onclick="saveSettings()">save</a>
                        <a class="button right" onclick="saveSettings(true)">save &amp; start</a>
                    </div>
                </div>
            </div>
        </div>
        <footer></footer>
        <script src="./js/functions.js"></script>
        <script>
        var allChannels = document.getElementById("detectorAllChannels");
        var channel = document.getElementById("detectorChannel");
        var alertPin = document.getElementById("alertPin");
        var invert = document.getElementById("invertAlertPin");
        var scanTime = document.getElementById("detectorScanTime");
        var saveStatus = getE('spinner-container');
        var res;

        getResponse("settings.json", function(responseText) {
            try {
                res = JSON.parse(responseText);
            } catch (e) {
                notify("ERROR: Reset the settings.  (E25)");
                return;
            }

            if (res.detectorAllChannels == 1) { allChannels.checked = true;
                switchChannel() } else { allChannels.checked = false;
                switchChannel() }
            channel.value = res.detectorChannel;
            alertPin.value = res.alertPin;
            if (res.invertAlertPin == 1) { invert.checked = true } else { invert.checked = false }
            scanTime.value = res.detectorScanTime;
        });

        allChannels.addEventListener("change", switchChannel, false);

        function switchChannel() {
            var isChecked = allChannels.checked;
            if (isChecked) {
                channelContainer.classList.add("disabled");
            } else {
                channelContainer.classList.remove("disabled");
            }
        }

        function saveSettings(run) {
            saveStatus.className = "";
            showLoading();
            var url = "settingsSave.json";
            url += "?detectorAllChannels=" + allChannels.checked;
            url += "&detectorChannel=" + channel.value;
            url += "&alertPin=" + alertPin.value;
            url += "&invertAlertPin=" + invert.checked;
            invert.checked
            url += "&detectorScanTime=" + scanTime.value;

            getResponse(url, function(responseText) {
                if (responseText == "true") {
                    if (run == true) {
                        getResponse("detectorStart.json", function(responseText) {
                            if (responseText == "true") {
                                showLoading("hide");
                            } else {
                                notify("Failed to start detector! (E30)");
                            }
                        }, function() {
                            notify("Failed to start detector! (E31)");
                        });
                    } else {
                        saveStatus.classList.add("success-save");
                    }
                } else {
                    if (run == false) saveStatus.classList.add("failed-save");
                    notify("Failed to save! (E32)");
                }
            }, function() {
                if (run == false) saveStatus.classList.add("failed-save");
                notify("Failed to save! (E33)");
            });
        }
        fadeIn();
        </script>
    </div>
</body>

</html>