<head>
    <title>404 - Wi-PWN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="./dark.css">
    <meta name="theme-color" content="#106CC8">
</head>

<body>
    <nav id="nav">
        <div class="main-header">
            <div id="logo-img"></div><b style="color:#fff">Wi-</b>PWN
        </div>
        <div id="links">
            <a href="./">Scan</a>
            <a href="./users.html">Users</a>
            <a href="./attack.html">Attack</a>
            <a href="./control.html">Control</a>
            <a href="./settings.html">Settings</a>
            <a class="right" href="./info.html">Info</a>
        </div>
    </nav>
    <div id="notification"></div>
    <div id="spinner-container"></div>
    <script>
    /(^|;)\s*minimal=/.test(document.cookie) && (document.body.id = "minimal")
    </script>
    <div class="main-wrap">
        <div class="container">
            <div class="card-container">
                <div class="settingsHeader">Page not found</div>
                <div class="card">
                    <div class="card-content">
                        <div class="glitch" data-text="404">404</div>
                    </div>
                </div>
            </div>
        </div>
        <style>
            .glitch{font-size:7em;color:black;position:relative;width:200px;margin:0 auto}@keyframes noise-anim{0%{clip:rect(36px,9999px,81px,0)}5%{clip:rect(47px,9999px,6px,0)}10%{clip:rect(36px,9999px,95px,0)}15%{clip:rect(64px,9999px,86px,0)}20%{clip:rect(62px,9999px,82px,0)}25%{clip:rect(27px,9999px,20px,0)}30%{clip:rect(73px,9999px,29px,0)}35%{clip:rect(76px,9999px,24px,0)}40%{clip:rect(44px,9999px,26px,0)}45%{clip:rect(32px,9999px,57px,0)}50%{clip:rect(68px,9999px,41px,0)}55%{clip:rect(87px,9999px,21px,0)}60%{clip:rect(88px,9999px,65px,0)}65%{clip:rect(21px,9999px,6px,0)}70%{clip:rect(95px,9999px,85px,0)}75%{clip:rect(44px,9999px,51px,0)}80%{clip:rect(91px,9999px,30px,0)}85%{clip:rect(62px,9999px,49px,0)}90%{clip:rect(61px,9999px,77px,0)}95%{clip:rect(14px,9999px,80px,0)}100%{clip:rect(28px,9999px,24px,0)}}.glitch:after{content:attr(data-text);position:absolute;left:2px;text-shadow:-1px 0 red;top:0;color:black;background:white;overflow:hidden;clip:rect(0,900px,0,0);animation:noise-anim 2s infinite linear alternate-reverse}@keyframes noise-anim-2{0%{clip:rect(95px,9999px,6px,0)}5%{clip:rect(29px,9999px,32px,0)}10%{clip:rect(88px,9999px,82px,0)}15%{clip:rect(28px,9999px,80px,0)}20%{clip:rect(51px,9999px,17px,0)}25%{clip:rect(68px,9999px,32px,0)}30%{clip:rect(68px,9999px,24px,0)}35%{clip:rect(94px,9999px,58px,0)}40%{clip:rect(3px,9999px,16px,0)}45%{clip:rect(64px,9999px,99px,0)}50%{clip:rect(54px,9999px,65px,0)}55%{clip:rect(56px,9999px,92px,0)}60%{clip:rect(96px,9999px,85px,0)}65%{clip:rect(22px,9999px,43px,0)}70%{clip:rect(19px,9999px,35px,0)}75%{clip:rect(31px,9999px,99px,0)}80%{clip:rect(23px,9999px,69px,0)}85%{clip:rect(35px,9999px,70px,0)}90%{clip:rect(80px,9999px,34px,0)}95%{clip:rect(8px,9999px,7px,0)}100%{clip:rect(37px,9999px,67px,0)}}.glitch:before{content:attr(data-text);position:absolute;left:-2px;text-shadow:1px 0 blue;top:0;color:black;background:white;overflow:hidden;clip:rect(0,900px,0,0);animation:noise-anim-2 3s infinite linear alternate-reverse}
        </style>
        <footer></footer>
    </div>
    <script src="./js/functions.js"></script>
</body>