<head>
    <title>Users - Wi-PWN</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0">
    <link rel="stylesheet" href="./main.css">
    <link rel="stylesheet" href="./dark.css">
    <meta name="theme-color" content="#106CC8">
</head>

<body>
    <nav id="nav">
        <div class="main-header">
            <div id="logo-img"></div><b style="color:#fff">Wi-</b>PWN
        </div>
        <div id="links">
            <a href="./">Scan</a>
            <a href="./users.html" class="active">Users</a>
            <a href="./attack.html">Attack</a>
            <a href="./control.html">Control</a>
            <a href="./settings.html">Settings</a>
            <a class="right" href="./info.html">Info</a>
        </div>
    </nav>
    <div id="notification"></div>
    <div id="spinner-container"></div>
    <script>
    /(^|;)\s*minimal=/.test(document.cookie) && (document.body.id = "minimal");
    </script>
    <div class="main-wrap">
        <div class="container">
            <div class="card-container">
                <div class="settingsHeader button-header-2" style="display:inline-block;margin-bottom: 30px">Scan for Wi-Fi users <span id="clientsFound"></span></div>
                <button onclick="scan()" id="startScan" class="button-primary right button-header-2">Scan</button>
                <div class="card">
                    <table id="users"></table>
                </div>
                <hr>
                <div id="saved-users" class="dn">
                    <div class="settingsHeader button-header" style="display:inline-block;margin-bottom: 30px">Saved users <span id="clientNames"></span></div>
                    <div class="card">
                        <table id="nameList"></table>
                    </div>
                </div>
                <div class="card">
                    <div class="card-content">
                        <div class="row ta-c">
                            <div class="input-container col-6">
                                <input placeholder=" " id="cMac" type="text" required="" min="17" max="17">
                                <label for="cMac">MAC Address</label>
                            </div>
                            <div class="input-container col-1"></div>
                            <div class="input-container col-5">
                                <input placeholder=" " id="cName" type="text" required="">
                                <label for="cName">Name</label>
                            </div>
                        </div>
                    </div>
                    <div class="card-action">
                        <a class="button right" onclick="addClient()">add</a>
                    </div>
                </div>
            </div>
        </div>
        <footer></footer>
        <script src="./js/functions.js"></script>
        <script src="./js/users.js"></script>
    </div>
</body>
